<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Find a person</title>
    <link rel="stylesheet" href="https://unpkg.com/vue-innersearch/default-innersearch-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
    <script src="https://unpkg.com/vue-innersearch@0.0.9/vue-innersearch.min.js"></script>
</head>

<body>

<div id="app">
    {{ message }}
</div>

</body>

<script src="index.js"></script>

</html>